n8n/sos_alert_workflow.json
{
  "name": "TheSpot — SOS Alert WhatsApp",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "thespot-sos-alert",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "SOS Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "thespot-sos-alert"
    },
    {
      "parameters": {
        "jsCode": "// Extraer y validar payload del SOS\nconst body = $input.first().json.body || $input.first().json;\n\nconst contacts = body.contacts || [];\nconst userName = body.user_name || 'Un estudiante de The Spot';\nconst mapsUrl = body.maps_url || null;\nconst incidentId = body.incident_id;\nconst timestamp = body.timestamp || new Date().toISOString();\nconst timeFormatted = new Date(timestamp).toLocaleTimeString('es-MX', { hour: '2-digit', minute: '2-digit', hour12: true });\n\nif (contacts.length === 0) {\n  return [{ json: { skip: true, reason: 'Sin contactos registrados', incident_id: incidentId } }];\n}\n\n// Normalizar número para Meta Cloud API:\n// - Quitar +, espacios, guiones\n// - Si es MX (10 dígitos) agregar prefijo 52\nfunction normalizePhone(raw) {\n  let n = String(raw).replace(/[^0-9]/g, '');\n  if (n.length === 10) n = '52' + n;       // MX local → +52\n  if (n.length === 11 && n.startsWith('1')) return n; // US ya tiene country code\n  return n;\n}\n\n// Construir un item por contacto\nconst items = contacts.map(contact => ({\n  json: {\n    to: normalizePhone(contact.phone),\n    contact_name: contact.name,\n    relationship: contact.relationship || 'Contacto',\n    user_name: userName,\n    maps_url: mapsUrl,\n    incident_id: incidentId,\n    time: timeFormatted,\n    message: [\n      '🚨 *ALERTA SOS — THE SPOT*',\n      '',\n      `*${userName}* activó una alerta de emergencia y te tiene como contacto de confianza.`,\n      '',\n      `⏰ Hora: ${timeFormatted}`,\n      mapsUrl ? `📍 Ubicación: ${mapsUrl}` : '📍 Ubicación: No disponible',\n      '',\n      'Si puedes, contáctate con esta persona o llama al 911.',\n      '',\n      '_Mensaje automático de The Spot_'\n    ].join('\\n')\n  }\n}));\n\nreturn items;\n"
      },
      "id": "prepare-messages",
      "name": "Preparar mensajes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.skip }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-contacts",
      "name": "¿Hay contactos?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v19.0/{{ $env.META_PHONE_NUMBER_ID }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.META_WHATSAPP_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $json.to }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"preview_url\": true,\n    \"body\": {{ JSON.stringify($json.message) }}\n  }\n}",
        "options": {
          "timeout": 10000,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "send-whatsapp-meta",
      "name": "Enviar WhatsApp (Meta Business)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Validar respuesta de Meta API\nconst items = $input.all();\nconst results = items.map(item => {\n  const status = item.json.statusCode || 200;\n  const body = item.json.body || item.json;\n  const ok = status >= 200 && status < 300 && !body.error;\n  return {\n    json: {\n      success: ok,\n      status_code: status,\n      wa_id: body.contacts?.[0]?.wa_id || null,\n      message_id: body.messages?.[0]?.id || null,\n      error: body.error?.message || null,\n      to: item.json.to || null\n    }\n  };\n});\nreturn results;\n"
      },
      "id": "validate-response",
      "name": "Validar respuesta Meta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 200]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/sos_incidents",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"notified_contacts\": {{ $('Preparar mensajes').all().length }},\n  \"whatsapp_sent_at\": \"{{ new Date().toISOString() }}\"\n}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "=eq.{{ $('Preparar mensajes').first().json.incident_id }}"
            }
          ]
        },
        "options": {
          "timeout": 5000
        }
      },
      "id": "update-incident",
      "name": "Actualizar incidente en Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1300, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Log cuando no hay contactos configurados\nconst item = $input.first().json;\nconsole.log(`[SOS] Incidente ${item.incident_id} sin contactos. No se envió WhatsApp.`);\nreturn [{ json: { logged: true, incident_id: item.incident_id } }];\n"
      },
      "id": "log-no-contacts",
      "name": "Log sin contactos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 420]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"ok\": true,\n  \"incident_id\": \"{{ $('Preparar mensajes').first().json.incident_id }}\",\n  \"notified\": {{ $('Preparar mensajes').all().length }}\n}"
      },
      "id": "respond-ok",
      "name": "Responder OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1500, 300]
    }
  ],
  "connections": {
    "SOS Webhook": {
      "main": [
        [{ "node": "Preparar mensajes", "type": "main", "index": 0 }]
      ]
    },
    "Preparar mensajes": {
      "main": [
        [{ "node": "¿Hay contactos?", "type": "main", "index": 0 }]
      ]
    },
    "¿Hay contactos?": {
      "main": [
        [{ "node": "Enviar WhatsApp (Meta Business)", "type": "main", "index": 0 }],
        [{ "node": "Log sin contactos", "type": "main", "index": 0 }]
      ]
    },
    "Enviar WhatsApp (Meta Business)": {
      "main": [
        [{ "node": "Validar respuesta Meta", "type": "main", "index": 0 }]
      ]
    },
    "Validar respuesta Meta": {
      "main": [
        [{ "node": "Actualizar incidente en Supabase", "type": "main", "index": 0 }]
      ]
    },
    "Actualizar incidente en Supabase": {
      "main": [
        [{ "node": "Responder OK", "type": "main", "index": 0 }]
      ]
    },
    "Log sin contactos": {
      "main": [
        [{ "node": "Responder OK", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "meta": {
    "templateId": "thespot-sos-alert-v1"
  },
  "pinData": {},
  "versionId": "1.1.0",
  "triggerCount": 0,
  "tags": ["thespot", "sos", "whatsapp", "meta", "seguridad"]
}
